body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vert-wrapper {
  display: flex;
  justify-content: center;
}

.vert {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
